* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F7F1F0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #262220;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 360px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #C3A6A0;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.6em;
  color: #262220;
  margin-bottom: 10px;
}

.bio {
  font-size: 1em;
  color: #000000;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  padding: 12px;
  border-radius: 30px;
  transition: 0.3s ease;
  text-align: center;
  font-size: 0.95em;
}

.instagram {
  background-color: #C3A6A0;
  color: #fff;
}

.telegram {
  background-color: #A15C38;
  color: #fff;
}

.email {
  background-color: #262220;
  color: #fff;
}

.btn:hover {
  transform: scale(1.03);
  background-color: #B2734F;
}